In [21]:
import re 
import requests
import pandas as pd

In [2]:
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html"
page = requests.get(url).text

In [ ]:
page

In [17]:
ret = re.findall(r"<a href\s=\s\"([^<>]*?\.csv)\"",page,re.DOTALL)

In [18]:
ret

['addresses.csv',
 'airtravel.csv',
 'biostats.csv',
 'cities.csv',
 'crash_catalonia.csv',
 'deniro.csv',
 'example.csv',
 'ford_escort.csv',
 'faithful.csv',
 'freshman_kgs.csv',
 'freshman_lbs.csv',
 'grades.csv',
 'homes.csv',
 'hooke.csv',
 'hurricanes.csv',
 'hw_200.csv',
 'hw_25000.csv',
 'lead_shot.csv',
 'letter_frequency.csv',
 'mlb_players.csv',
 'mlb_teams_2012.csv',
 'news_decline.csv',
 'nile.csv',
 'oscar_age_female.csv',
 'oscar_age_male.csv',
 'snakes_count_10.csv',
 'snakes_count_100.csv',
 'snakes_count_1000.csv',
 'snakes_count_10000.csv',
 'tally_cab.csv',
 'taxables.csv',
 'trees.csv',
 'zillow.csv']

In [27]:
for i in ret:
    new_url = "https://people.sc.fsu.edu/~jburkardt/data/csv/"+i
    try:
        page = pd.read_csv(new_url)
        page.to_csv(f"sample-data/{i}")
    except:
        pass

     Year   "Flood"
0       1    9.9974
1       2   10.5556
2       3    9.9014
3       4   11.4800
4       5   12.8460
..    ...       ...
565   566   11.3840
566   567    9.8630
567   568   10.8450
568   569   10.4020
569   570   10.3060

[570 rows x 2 columns]