# PANDAS DATA SERIES

### https://www.w3resource.com/python-exercises/pandas/index-data-series.php

In [1]:
import numpy as np
import pandas as pd

### 2. Write a Pandas program to convert a Pandas module Series to Python list and it's type.

In [ ]:
ds2 = pd.series(range(1,11))

In [ ]:
ds2 = pd.Series(range(1,11))


_________________________
Pandas Series and type

In [ ]:
ds2

In [ ]:
type(ds2)

 
 ____________________________________
 Convert Pandas Series to Python list

In [ ]:
ds2.tolist()

In [ ]:
type(ds2.tolist())

#

### 3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

===============================================

In [ ]:
a = list(range(2,11,2))
a

In [ ]:
b = list(range(1,10,2))
b

===============================================

In [ ]:
c = a + b
c

In [ ]:
d = a - b
d

In [ ]:
e = a * b
e

In [ ]:
f = a / b
f

===============================================

In [ ]:
ds3a = pd.Series(a)
ds3a

In [ ]:
ds3b = pd.Series(b)
ds3b

_________________
Add two Series:

In [ ]:
ds3_sum = ds3a + ds3b
ds3_sum

____________________
Subtract two Series:

In [ ]:
ds3_sub = ds3a - ds3b
ds3_sub

_____________________
Multiply two Series:

In [ ]:
ds3_mul = ds3a * ds3b
ds3_mul

__________________________
Divide Series1 by Series2

In [ ]:
ds3_div = ds3a / ds3b
ds3_div

In [ ]:
round(ds3_div,2)

### 5. Write a Pandas program to convert a dictionary to a Pandas series.
### Sample dictionary: d5 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [61]:

d5 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [ ]:
Original dictionary:

In [ ]:
d5

In [ ]:
Converted series:

In [ ]:
ds5 = pd.Series(d5)
ds5

In [ ]:
type(d5)

In [ ]:
type(ds5)

### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

Python list:

In [ ]:
lst = list(range(10,51,10))
lst

NumPy array:

In [ ]:
np_ar = np.array(lst)
np_ar

Converted Pandas series:

In [ ]:
ds6 = pd.Series(np_ar)
ds6

In [ ]:
type(lst)

In [ ]:
type(ds6)

### 13. Write a Pandas program to create a subset of a given series based on value and condition.

Original Data Series:

In [ ]:
ds13 = pd.series(range(0,11))
ds13

In [ ]:
ds13 = pd.Series(range(0,11))
ds13

\nSubset of the above Data Series:

In [ ]:
n=6
new_ds13 = ds13[ds13 < 6]
new_ds13

In [ ]:
type(new_ds13)