In [1]:
import pandas as pd

df = pd.read_csv('customer_spend.csv')
df.head()

,cur_year_spend,prev_year_spend,days_since_last_purchase,days_since_first_purchase,total_transactions,age,income,engagement_score
0,5536.46,1681.26,7,61,34,61,97914.93,-0.652392
1,871.41,1366.74,12,34,33,68,30904.69,0.007327
2,2046.74,1419.38,10,81,22,54,48194.59,0.221666
3,4662.70,1561.21,12,32,34,49,93551.98,1.149641
4,3539.46,1397.60,17,72,34,66,66267.57,0.835834

In [ ]:
from sklearn.model_selection import train_test_split

cols = df.columns[1:]
X = df[cols]

y = df['cur_year_spend']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 100)

In [ ]:
from sklearn.linear_model import Lasso

lasso_model = Lasso(normalize=True, random_state=10)
lasso_model.fit(X_train,y_train)

In [ ]:
coefs = lasso_model.coef_
selected_features = cols[coefs > 0]
selected_coefs = coefs[coefs > 0]

In [ ]:
for coef, feature in zip(selected_coefs, selected_features):
    print(feature + ' coefficient: ' + str(coef))