# USING PYTHON FOR ACCESSING DATABASE VIA SQL QUERIES

Install ipython-sql

In [1]:
! pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\turbulence\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython>=1.0 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (1.3.13)
Requirement already satisfied: prettytable<1 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.0)
Requirement already satisfied: backcall in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (45.2.0.post20200210)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: decorator in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\turbulence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: wcwidth in c:\users\turbulence\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in c:\users\turbulence\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)

Load sql

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

### SQL Syntax

Create Table

In [4]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);
INSERT INTO writer VALUES ('William', 'Brecht', 2020);
INSERT INTO writer VALUES ('Bertold', 'Shakespeare', 2010);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616),
 ('Bertold', 'Brecht', 1956),
 ('William', 'Brecht', 2020),
 ('Bertold', 'Shakespeare', 2010)]

In [6]:
%%sql writers << select first_name, year_of_death
from writer

 * sqlite://
Done.
Returning data to local variable writers

In [7]:
writers

[('William', 1616), ('Bertold', 1956), ('William', 2020), ('Bertold', 2010)]

In [8]:
var = 'last_name'

In [9]:
%sql select * from writer where {var} = 'Brecht'

 * sqlite://
Done.

[('Bertold', 'Brecht', 1956), ('William', 'Brecht', 2020)]

In [10]:
%%sql select * from writer 
where {var} = 'Brecht'

 * sqlite://
Done.

[('Bertold', 'Brecht', 1956), ('William', 'Brecht', 2020)]