## One Sample t Test

Analyze if college students get 7.2 hours of sleep, on average, based on a sample of students: alpha=0.05

H0: mu = 7.2

Ha: mu != 7.2

In [35]:
import pandas as pd
import scipy.stats as stats
import math

In [37]:
df = pd.read_csv("students.csv")

In [39]:
df.head()

,ID,Gender,Classification,Height,Shoe Size,Phone Time,# of Shoes,Birth order,Pets,Happy,...,Exercise,Stat Pre,Stat Post,Phone Type,Sleep,Social Media,Impact of SocNetworking,Political,Animal,Superhero
0,1,male,senior,67.75,7.0,12.0,12.0,youngest,5.0,0.80,...,360,3.0,NaN,iPhone,7.0,180.0,worse,Democrat,Dog person,Batman
1,2,male,freshman,71.00,7.5,1.5,5.0,middle,4.0,0.75,...,200,9.0,NaN,Android smartphone,7.0,20.0,better,Democrat,Dog person,Batman
2,3,female,freshman,64.00,6.0,25.0,15.0,oldest,8.0,0.90,...,30,7.0,5.0,Android smartphone,8.0,60.0,better,Republican,Dog person,Batman
3,4,female,freshman,63.00,6.5,30.0,30.0,middle,12.0,0.98,...,180,6.0,7.0,iPhone,6.0,60.0,better,Republican,Both,Superman
4,5,male,senior,69.00,6.5,23.0,8.0,oldest,4.0,0.75,...,180,4.0,7.0,iPhone,5.5,60.0,worse,Independent,Dog person,Superman

In [40]:
onesample= stats.ttest_1samp(df["Sleep"], 7.2)

In [41]:
onesample.statistic

-1.92552134000487

In [42]:
onesample.pvalue

0.05795525591903326

In [43]:
df["Sleep"].mean()

6.8618421052631575

In [44]:
print(f'p-value for two sided test: {onesample.pvalue:.4f}')

p-value for two sided test: 0.0580

In [45]:
alpha = 0.05
p_value = onesample.pvalue
if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in the favor of Ha.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we fail to reject the null hypothesis.

The principal of the school thinks that the average hours of sleep is at most 7.2

H0: mu = 7.2

Ha: mu < 7.2

In [47]:
print(f'p-value for one sided test: {onesample.pvalue/2:.4f}')

p-value for one sided test: 0.0290

In [48]:

alpha = 0.05
p_value = onesample.pvalue/2

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of Ha.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of Ha.

## Tests on the Difference in Means of Two Normal Distributions, Variances Unknown and Equal

In [49]:
df = pd.read_csv("catalysts.csv")

In [50]:
df

   Observation Number  Catalyst1  Catalyst2
0                   1      91.50      89.19
1                   2      94.18      90.95
2                   3      92.18      90.46
3                   4      95.39      93.21
4                   5      91.79      97.19
5                   6      89.07      97.04
6                   7      94.72      91.07
7                   8      89.21      92.75

In [51]:
xbar1 = df["Catalyst1"].mean()
xbar2 = df["Catalyst2"].mean()


s1 = df["Catalyst1"].std()
s2 = df["Catalyst2"].std()

In [53]:
print("xbar1 = {:.3f}".format(xbar1))
print("xbar2 = {:.3f}".format(xbar2))
print()
print("s1 = {:.3f}".format(s1))
print("s2 = {:.3f}".format(s2))

xbar1 = 92.255
xbar2 = 92.732

s1 = 2.385
s2 = 2.983

In [54]:
s_pooled = math.sqrt(((len(df['Catalyst1']) - 1) * (s1 ** 2) + (len(df['Catalyst2']) - 1) * (s2 ** 2)) / (len(df['Catalyst1']) - 1 + len(df['Catalyst2']) - 1))

print('spooled = {:.3f}'.format(s_pooled))

spooled = 2.701

In [56]:
t_statistic = (xbar1-xbar2)/(s_pooled*math.sqrt(1/len(df['Catalyst1']) + 1/len(df['Catalyst2'])))

print ('t_statistic = {:.3f}'.format(t_statistic))

t_statistic = -0.354

In [57]:
# df = n1 + n2 -2

p_value = 2*stats.t.cdf(-0.35, 14)
print("p_value = {:.3f}".format(p_value))

p_value = 0.732

In [58]:
alpha = 0.05

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of Ha.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we fail to reject the null hypothesis.

### Scipy.stats.ttest for 2 groups

In [59]:
twogroups = stats.ttest_ind(df["Catalyst1"], df["Catalyst2"], equal_var = True)

In [60]:
print(f't statistics for two sided: {twogroups.statistic:.4f}')
print(f'p value for two sided: {twogroups.pvalue:.4f}')

t statistics for two sided: -0.3536
p value for two sided: 0.7289

### Arsenic Example

In [61]:
df = pd.read_csv("arsenic.csv")

In [62]:
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [63]:
twogroups = stats.ttest_ind(df['x1'], df['x2'], equal_var = True)

In [64]:
print(f't statistic for two sided: {twogroups.statistic:.4f}')

print(f'p-value for two sided: {twogroups.pvalue:.4f}')

t statistic for two sided: -2.7669
p-value for two sided: 0.0127

In [65]:
alpha = 0.05
p_value = twogroups.pvalue

if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of Ha. We can say that there is difference between means of two communities'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we can reject the null hypothesis in favor of Ha. We can say that there is difference between means of two communities

In [66]:
df['x1'].mean()

12.5

In [67]:
df['x2'].mean()

27.5

## Pair Sample T Test

In [69]:
df = pd.read_csv("prozac.csv")

In [70]:
df

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

In [71]:
stats.ttest_rel(df['moodpre'], df["moodpost"])

Ttest_relResult(statistic=-3.1428571428571423, pvalue=0.013745824394788489)

In [72]:
pairedtest = stats.ttest_rel(df['moodpre'], df['moodpost'])

In [73]:
onetailed_pvalue= pairedtest.pvalue / 2
onetailed_pvalue

0.006872912197394244

In [74]:
df = pd.read_csv('students.csv')

In [75]:
df['Height']

0     67.75
1     71.00
2     64.00
3     63.00
4     69.00
      ...
71    65.00
72    62.00
73    65.00
74    65.00
75    65.00
Name: Height, Length: 76, dtype: float64

In [76]:
stats.shapiro(df['Happy'])

(nan, 1.0)