# SQL Introduction

<br>
<br>

![SQL](figures/dilbert.gif)

<sub>http://dilbert.com/strip/1995-11-17</sub>

### Today's lecture

1. SQL and schema definitions
2. Single-table queries
3. Multi-table queries

#### DISCLAIMER

SQL was initially developed in the early 1970s
* Do not reinvent the wheel, this course is based on information from:
  - CS145 (2016), Stanford
  - IIS (2009), EPFL
  - INF725, SD202 (2016), Télécom ParisTech
  - SoSe (2005), Freie Universität Berlin
  - Database Management Systems (3rd Edition), Ramakrishnan and Gehrke.
  - Database Systems Concepts (6th Edition), Abraham Silberschatz, Henry F. Korth, and S. Sudarshan.
  - Database Systems: A Practical Approach to Design, Implementation and Management (6th Edition), Thomas M. Connolly and Carolyn E. Begg.

## What is SQL?

* __S__tructured __Q__uery __L__anguage
* A standard language for querying and manipulating data
  * Not a programming language!
  * __Very high-level__ <-- Highly optimized
* Originally based upon _relational algebra_ and _tuple relational calculus_ 
* Employed as query language for most __R__elational __D__ata__B__ase __M__anagement __S__ystems (RDBMS)

![RDBMS](figures/rdbms.png)

### How to pronounce it?

![pronunciation](figures/sql_pronunciation.png)

<sub>https://www.reddit.com/r/ProgrammerHumor/comments/7z0eoj/how_to_pronounce_sql/</sub>

## SQL consists of

__Data _Definition_ Language (DDL)__
* Define relational schemata
* Create/alter/delete tables and their attributes

__Data _Manipulation_ Language (DML)__
* Insert/delete/modify tuples in tables
* Query one or more tables

__Data _Control_ Language (DCL)__
* Control access to data stored in a database (Authorization)

## Data Types in SQL

__Atomic types__
* Characters: CHAR[(length)], VARCHAR[(length)]
* Numbers: INT, BIGINT, SMALLINT, FLOAT
* Others: MONEY, DATETIME
  
__Tuple__ or __row__
* A single entry having the attributes specified by the schema

__Attribute__ or __column__
* A typed data entry present in each tuple in the relation

__Table__ (relation)
* Tuples ensemble

## Database Schema

The organization of data as a __blueprint__ of how the database is constructed
* Divided into database tables in the case of relational databases

Example

<img src="figures/Schema.png" alt="Schema" style="width: 600px;"/>
<center>Flights Database example</center>

### Table Schema

The __schema__ of a table is the _table name_, its _attributes_, and their _types_:

```mysql
Planes(ID: INT, Model: CHAR, Built_date: DATE, Number_of_seats: INT)
```

## SQL Constraints

Used to specify rules for data in a table.

Commonly used constraints in SQL:
* __NOT NULL__ - Ensures that a column cannot have a NULL value
* __UNIQUE__ - Ensures that all values in a column are different
* __PRIMARY KEY__ - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
* __FOREIGN KEY__ - Uniquely identifies a row/record in another table
* __CHECK__ - Ensures that all values in a column satisfies a specific condition
* __DEFAULT__ - Sets a default value for a column when no value is specified

### Keys

A __key__ is a __minimal subset of attributes__ that acts as unique identifier for tuples in the relation

It is an implicit constraint on tuples, if two tuples agree on the value(s) of the key, then they __must__ be the same tuple.

```mysql
Students(sid: INT, name: CHAR, gpa: FLOAT)
```

1. Which attribute would you select as a key?
2. Is a key always guaranteed to exist?
3. Can we have more than one key?

### Foreign Keys

Suppose we have two tables

```mysql
Students(sid: INT, name: CHAR, gpa: FLOAT)
Enrolled(student_id: INT, course_id: CHAR, grade: CHAR)
```

And we want to impose the following constraint:
* _"Only registered students can enroll in courses"_, in other words, a student must exist in the _Students_ table to enroll in class.

<b><center>Students</center></b>

| sid | name | gpa  |
|-----|------|------|
| 101 | Anne | 3.2  |
| __123__ | Mary | 3.8  |

<b><center>Enrolled</center></b>

| student_id | course_id | grade  |
|:----------:|:---------:|:------:|            
|  __123__   |    564    |   A    |
|  __123__   |    537    |   A+   |

### Foreign Keys

What if we try to insert a tuple into _Enrolled_, but there is no such student in _Students_?
* INSERT is rejected -> Foreign keys are __constraints__

What if we delete a student from _Students_?
* Depending on the configuration of the database there are tree options:
  1. An error occurs and no tuples are deleted. OR
  2. The delete operation is propagated and all courses are removed for that student. OR
  3. Each course for that student is set to NULL.

### NULL

Whenever we don't have a value

Can mean many things:
* Value does not exists
* Value exists but is unknown
* Value not applicable
* etc.

> __Example:__ In the following table, we can add a student 'Jim' who just enrolled on his first class
```mysql
Students(sid: INT, name: CHAR, gpa: FLOAT)
```
| sid | name | gpa  |
|-----|------|------|
| 123 | Bob  | 3.9  |
| 143 | Jim  | NULL |    <--

We can constrain a column to be NOT NULL, e.g., "name"